#Compiled object
*.o
*.so
*.a

#Autotools
/autoscan.log
autom4te.cache
aclocal.m4
/configure.scan
/config.status
/config.log
/configure
/ar-lib
/compile
/depcomp
/install-sh
/missing
Makefile.in
Makefile
.deps

#emscripten
/a.out*

#VSCode
.vscode

dist/

/cli/sovol-cli