#Compiled object
*.o
*.so
*.a
*.wasm

#Autotools
/autoscan.log
autom4te.cache
aclocal.m4
/config.status
/config.log
/configure
/ar-lib
/compile
/depcomp
/install-sh
/missing
Makefile.in
Makefile
.deps

#emscripten
/a.out
/a.out.js
/wasm/*.js

#VSCode
.vscode

/cli/sovol-cli