html {
    font-size: 16px;
}

table {
    width: 100%;
    table-layout: auto;
    padding: 0 6px;
}

td {
    padding: 4px 6px;
}

textarea {
    overflow: auto;
    word-break: break-all;
    resize: none;
}

input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text],
input[type=number],
select,
textarea {
    font-size: 1em;
    width: 100%;
    padding: 6px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

a {
    text-decoration: none;
}

.masonry {
    margin: 0 auto;
}

.masonry-item {
    margin-bottom: 10px;
    width: 480px;
}

.buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 0;
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button {
    position: relative;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    font-size: 0.9em;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #363636;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
}

.buttons .button {
    margin-bottom: .5rem;
}
.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: .5rem;
}

.button.is-fullwidth {
    display: flex;
    width: 100%
}

.button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #fff
}

.button.is-red {
    background-color: #d81c1c;
    border-color: transparent;
    color: #fff;
}

.button.is-green {
    background-color: #5cb85c;
    border-color: transparent;
    color: #fff;
}

.button.is-blue {
    background-color: #3298dc;
    border-color: transparent;
    color: #fff;
}

.button.is-pink {
    background-color: #f14668;
    border-color: transparent;
    color: #fff;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.button .icon:first-child:not(:last-child) {
    margin-left: calc(-0.5em - 1px);
    margin-right: .25em;
}

.light-background {
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.deep-background {
    margin: 0 12px;
    border-radius: 5px;
    background-color: #e2e2e2;
    box-sizing: border-box;
}

.table-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.figure {
    padding: 5px 15px;
    height: 360px;
}

@media (max-width: 480px) {
    .overflow-wrapper {
        overflow-x: hidden;
    }

    body{
        margin-left: 0;
        margin-right: 0;
    }

    .buttons {
        margin-left: .5em;
    }

    .masonry-item {
        width: 100vw;
    }
}

